
{% extends 'accounts/base.html' %}
{% block content %}

    <div class='container-fluid py-2'>        
<div class="row">   
    <div class="col-md-4">    
    </div>         
    <div class="col-md-8">
    <div class="colm-form">
    <div class="form-container">
        <div class="form p-5 ">                      
            <h1>Password reset complete</h1>   
            <p>Your password has been reset.  You may go ahead and log in now with new password.</p>
            
            <p><a class="btn-new" href="/accounts/login">Log in now</a></p>     
                <br class="clear">
                  </div>
                </div>
              </div>
              </div>
              </div>
              </div>
       
          
          
          {% endblock content %}
       