
{% extends 'accounts/base.html' %}
{% block content %}

<div class='container-fluid py-2'>        
<div class="row">   
<div class="col-md-4">    
</div>         
<div class="col-md-8">
<div class="colm-form">
<div class="form-container">
<div class="control-group">

<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

<p>If you don’t receive an email, please make sure you’ve have re-entered the email address you registered with, and check your spam folder.</p>

<br class="clear">
<p class="help-block text-danger"><a href='/'>Home</a></p>
</div>
</div>
</div>
</div>
</div>
</div>


{% endblock content %}

