                   
           
{% extends 'accounts/base.html' %}
{% block content %}

    <div class='container-fluid py-2'>        
<div class="row">   
    <div class="col-md-4">    
    </div>         
    <div class="col-md-8">
    <div class="colm-form">
    <div class="form-container">      
         <div class='mb-2'> <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
         </div>
            <form method="post">
            {% csrf_token %}
              
   <input type="password" name="new_password1" autocomplete="new-password" required="" placeholder='New Password' id="id_new_password1">
              
       <input type="password" name="new_password2" autocomplete="new-password" placeholder='Confirm New Password' required="" id="id_new_password2">
        
            <button type="submit" class="btn-login">Change Password</button>
            
 {% for field in form %} 
{% for error in field.errors %}
<p class="alert alert-danger my-2">
<span>{{ error }}</span>
</p>
{% endfor %} {% endfor %}  
           </form>

                    <br class="clear">
                 
                  </div>
                </div>
                </div>
                </div>
                </div>
       
            
            
            {% endblock content %}
            
