
{% extends 'accounts/base.html' %}
{% block content %}
<div class="container-fluid">       
<div class="row d-flex justify-content-center align-items-center py-4 position-relative">
    <div class='col-md-4'></div>            
    <div class="col-md-8">
    <div class="colm-form">
    <div class="form-container">
    <form method='POST'>
         {% csrf_token %}
         <label>Please enter your email to get your password reset link</label>
         <input type="email" class="form-control" name="email" value="{{ values.email }}" required="required"  />
    <button class="btn-login" type='submit'>Reset Password</button>
    <a class='btn btn-warning' style="text-decoration: none;" href="/">Home</a>
    <a class="text-lead lead btn-new" style="text-decoration: none;" href="{% url 'login' %}">Already have account? Login</a></sub>
    </form>
    </div>    
    </div>
    </div>
    </div>
</div>


{% endblock content %}
