{% extends 'main.html' %}

{% block container %}

<div class="row align-items-center justify-content-center">
  
    <div class="col-lg-8">
        
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Add New Staff</h1>
            </div>
            <form method="post" action="{% url "add_staff" %}">
                {% csrf_token %}
               <div class="mb-2">
                {{ form }}
               </div>
                    
                <button type="submit" class="btn btn-primary btn-user btn-block">
                Add New Staff
                </button>               
               
            </form>
       
    </div>
</div>
{% endblock container %}
{% block scripts %}


{% endblock scripts %}
