{% extends 'main.html' %}

{% block container %}

<div class="row align-items-center justify-content-center">
  
    <div class="col-lg-8">
        
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Edit Session</h1>
            </div>
            <form method="POST" >
                {% csrf_token %}
                <div class="form-group">
                    
                  {{ form }}
                   </div>

                    {% for error in form.name.errors %}
                 <p class="text-danger">   {{ error.as_text }}</p>
                    {% endfor %}
             
                <button type="submit" class="btn btn-primary btn-user btn-block">
                   Edit Session
                </button>               
               
            </form>
       
    </div>
</div>
{% endblock container %}


